.example-card {
  max-width: 330px;
  margin: 16px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.icon {
  color: #6f42c1;
  height: 64px;
  font-size: 104px;
  width: 64px;
  margin-right: 36px;
  margin-top: 15px;
  margin-bottom: 65px;
}
