.title {
  font-size: 22px;
  font-weight: 500;
  color: #6f42c1;
}

.add-button {
  height: 51px !important;
  margin-top: 4px !important;
}

.actions-button {
  height: 30px !important;
  width: 30px !important;
  margin-top: 4px !important;
}

.consult-button {
  color: #878787 !important;
  border-color: #d5d5d5 !important;
}

.consult-button:hover {
  background-color: #6f42c1 !important;
  border-color: #80798d !important;
  color: white !important;
}

.actions-mat-icon {
  line-height: 1.2 !important;
}
