div.dashboard-wrapper {
  h1 {
    font-weight: bold !important;
    color: #7c53c9;
    font-size: 64px;
    margin-bottom: 9rem !important;
  }

  img {
    width: 100%;
    max-width: 600px;
    margin: 4em auto;
    padding: 0 15px;
    opacity: 0.8;
  }
}
