<div class="container h-100 text-left">
  <div class="title my-5">Vehiculo <span *ngIf="Id"> (ID #{{Id}})</span></div>
  <mat-accordion hideToggle>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="accordion-title">
            Información basica
          </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <app-input class="col" [group]="form" name="description" label="Descripción">
        </app-input>
        <app-input class="col-4" [group]="form" name="chasisNo" label="No. de Chasis">
        </app-input>
        <app-input class="col-4" [group]="form" name="motorNo" label="No. de Motor">
        </app-input>
        <app-input class="col-4" [group]="form" name="plateNo" label="No. de Placa">
        </app-input>
        <app-select class="col" name="vehicleTypeId" [options]="vehicleType" [group]="form">
        </app-select>
        <app-select (selected)="brandChange($event)" class="col" name="brandId" [options]="brand" [group]="form">
        </app-select>
        <app-select class="col" name="modelId" [options]="model" [group]="form">
        </app-select>
        <app-select class="col-3" name="fuelTypeId" [options]="fuelType" [group]="form">
        </app-select>
        <app-select class="col-3" name="status" [options]="status" [group]="form">
        </app-select>
      </div>
    </mat-expansion-panel>
    <div class="d-flex justify-content-between">
      <button (click)="cancel()" class="btn form-button btn-outline-secondary cancel-button">
        Cancelar
      </button>
      <button (click)="postData()" class="btn form-button btn-outline-secondary">
        Guardar
      </button>
    </div>
  </mat-accordion>
</div>
