/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme/theme";
@import "theme/colors";
@import "assets/fonts/_fonts.css";


.margin-r-5 {
  margin-right: 5px;
}

.margin-auto {
  margin: auto;
}

.height-100 {
  height: 100%;
}

.width-200px {
  width: 200px;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: #6f42c1;
}

.accordion-title {
  font-size: 18px;
  font-weight: 500;
  color: #5a5a5a;
}

.form-button {
  width: 220px !important;
  height: 40px !important;
  padding: 0 !important;
}

.cancel-button:hover {
  background-color: #d33941 !important;
}


.text-color-red {
  color: rgb(204, 73, 73) !important;
}

.text-color-green {
  color: #74bf7b !important
}

.text-color-blue {
  color: #2470d3 !important
}

.rentcar-table {
  .mat-header-cell {
    font-size: 14px !important;
    color: #2f2f2f !important;
    font-weight: 400 !important;
  }

  .mat-cell {
    font-size: 15px;
    color: black;
    font-weight: 400;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    width: 100px !important;
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    text-align: right;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    text-align: right;
  }
}
